<!-- This is meant to be embedded in an iframe. -->
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
		<style>
		body {
			height: 100%;
			width: 100%;
			margin: 0;
			display: flex;
			flex-direction: column;
		}
		ul {
			display: flex;
			list-style: none;
			gap: 1%;
		}
		iframe {
			flex-grow: 1;
		}
		</style>
	</head>
	<body>
		<ul>
			<li>Type:</li>
			{{range .graphTypes}}
				<li>
					{{if or (eq . $.type) (and (eq $.type "") (eq . "flow"))}}
						{{.}}
					{{else}}
						<a href="?type={{.}}">{{.}}</a>
					{{end}}
				</li>
			{{end}}
		</ul>

		<iframe
			src="/action/graph/plain?type={{.type}}"
			class="panel"
		></iframe>
	</body>
</html>
