{{template "_layout.html" .}}

{{define "main"}}
	{{$scope := "d2dc0bac8e4747b39b78a49cf274328a"}}
  {{$allocs := .allocs}}

	{{with .Instance}}
	<div id="{{$scope}}">
		<h1>{{.Name}}</h1>

		<ul>
			<li><a href="#">Stop</a></li>
			<li><a href="#">Clone</a></li>
		</ul>

    <h2 class="h2 pt-2">Actions</h2>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      {{ range $name, $x := $allocs }}
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="{{ $name }}-tab"
            data-bs-toggle="tab"
            data-bs-target="#tab-{{ $name }}"
            type="button"
            role="tab"
            aria-controls="tab-{{ $name }}"
            aria-selected="true"
            >{{ $name }}</button>
        </li>
      {{ end }}
    </ul>

    <div class="tab-content" id="myTabContent">
      {{ range $name, $alloc := $allocs }}
        <div class="tab-pane fade" id="tab-{{ $name }}">
          <h2 class="h2">Action {{ $name }}</h2>

          <div class="row">
            <div class="col-6">
              <h2 class="h2">General Information</h2>
              <dl class="row">
                <dt class="col-sm-2">Status:</dt><dd class="col-sm-10">{{ $alloc.ClientStatus }}</dd>
                <dt class="col-sm-2">Task Group:</dt><dd class="col-sm-10">{{ $alloc.TaskGroup }}</dd>
                <dt class="col-sm-2">Created:</dt><dd class="col-sm-10">{{ $alloc.CreateTime }}</dd>
                <dt class="col-sm-2">Job:</dt><dd class="col-sm-10">{{ $alloc.JobID }}</dd>
                <dt class="col-sm-2">Node:</dt><dd class="col-sm-10">{{ $alloc.NodeName }}</dd>
              </dl>
            </div>

            <div class="col-6">
              <h2 class="h2">Allocated Resources</h2>
              <dl class="row">
                <dt class="col-sm-2">Cores:</dt><dd class="col-sm-10">{{ $alloc.Resources.Cores }}</dd>
                <dt class="col-sm-2">CPU:</dt><dd class="col-sm-10">{{ $alloc.Resources.CPU }} Mhz</dd>
                <dt class="col-sm-2">Disk:</dt><dd class="col-sm-10">{{ $alloc.Resources.DiskMB }} MB</dd>
                <dt class="col-sm-2">IOPS:</dt><dd class="col-sm-10">{{ $alloc.Resources.IOPS }}</dd>
                <dt class="col-sm-2">Memory Max:</dt><dd class="col-sm-10">{{ $alloc.Resources.MemoryMaxMB }} MB</dd>
                <dt class="col-sm-2">Memory:</dt><dd class="col-sm-10">{{ $alloc.Resources.MemoryMB }} MB</dd>
              </dl>
            </div>
          </div>

          {{ $state := (index $alloc.TaskStates $name) }}
          {{ $res := (index $alloc.AllocatedResources.Tasks $name) }}
          <dl class="row pt-2">
            {{ if $state }}
              <dt class="col-sm-3">State:</dt><dd class="col-sm-9">{{ $state.State }}</dd>
              <dt class="col-sm-3">Failed:</dt><dd class="col-sm-9">{{ $state.Failed }}</dd>
              <dt class="col-sm-3">Started:</dt><dd class="col-sm-9">{{ $state.StartedAt }}</dd>
              {{ if (and $state.FinishedAt $state.StartedAt) }}
                <dt class="col-sm-3">Finished:</dt><dd class="col-sm-9">{{ $state.FinishedAt }}</dd>
                <dt class="col-sm-3">Duration:</dt><dd class="col-sm-9">TODO: {{ $state.FinishedAt }} - {{ $state.StartedAt }}</dd>
              {{ end }}
              {{ if (gt $state.Restarts 0) }}
                <dt class="col-sm-3">Restarts:</dt><dd class="col-sm-9">{{ $state.Restarts }}</dd>
                <dt class="col-sm-3">Last Restart:</dt><dd class="col-sm-9">{{ $state.LastRestart }}</dd>
              {{ end }}
            {{ end }}

            <dt class="col-sm-3">CPU Shares:</dt><dd class="col-sm-9">{{ $res.Cpu.CpuShares }} Mhz</dd>
            <dt class="col-sm-3">Memory:</dt><dd class="col-sm-9">{{ $res.Memory.MemoryMB }} MB</dd>
            {{ if (gt $res.Memory.MemoryMaxMB 0) }}
              <dt class="col-sm-3">Memory Max:</dt><dd class="col-sm-9">{{ $res.Memory.MemoryMaxMB }} MB</dd>
            {{ end }}
          </dl>
        </div>
      {{ end }}
    </div>

		<ul class="graph-types">
			<li>Type:</li>
			{{range $.graphTypes}}
			<li>
				{{if or (eq . $.graph) (and (eq $.graph "") (eq . "flow"))}}
				{{.}}
				{{else}}
				<a href="?graph={{.}}">{{.}}</a>
				{{end}}
			</li>
			{{end}}
		</ul>
		<iframe src="/workflow/{{.ID}}/graph?type={{$.graph}}"></iframe>

		<table class="table">
			<tr>
				<td>Source</td>
				<td>{{.Source}}</td>
			</tr>
			<tr>
				<td>Created at</td>
				<td>{{.CreatedAt}}</td>
			</tr>
			<tr>
				<td>Updated at</td>
				<td>{{.UpdatedAt}}</td>
			</tr>
			<tr>
				<td>State</td>
				<td><pre>{{.Certs | toJson}}</pre></td>
			</tr>
		</table>
	</div>
	{{end}}

	<style>
	#{{$scope}} {
		height: 100%;

		display: flex;
		flex-direction: column;
	}

	#{{$scope}} > iframe {
		flex-grow: 1;
		border: 5px groove var(--border);
		padding: 1%;
		min-height: 33vh;
	}

	#{{$scope}} ul.graph-types {
		display: flex;
		list-style: none;
		gap: 1%;
	}
	</style>
{{end}}
