{{template "_layout.html" .}}

{{define "main"}}
{{$scope := "d2dc0bac8e4747b39b78a49cf274328a"}}
<div id="{{$scope}}">
	<h1>{{.Name}}</h1>

	<h2>Graph</h2>
	<ul class="graph-types">
		<li>Type:</li>
		{{range .graphTypes}}
		<li>
			{{if or (eq . $.graph) (and (eq $.graph "") (eq . "flow"))}}
			{{.}}
			{{else}}
			<a href="?graph={{.}}&instance={{$.instance}}">{{.}}</a>
			{{end}}
		</li>
		{{end}}
	</ul>
	<iframe src="/workflow/{{.Name | pathEscape}}/graph?instance={{.instance}}&type={{.graph}}"></iframe>

	<h2>Instances</h2>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Created At</th>
			<th>Updated At</th>
			<th>Certificates</th>
		</tr>
		{{range .Instances}}
		<tr
			{{if eq (print .ID) $.instance}}
			class="current"
			{{end}}
		>
			<td><a href="?instance={{.ID}}&graph={{$.graph}}">{{.ID}}</a></td>
			<td>{{.Name}}</td>
			<td>{{.CreatedAt}}</td>
			<td>{{.UpdatedAt}}</td>
			<td><pre>{{.Certs | toJson}}</pre></td>
		</tr>
		{{end}}
		<tr>
			<td colspan="5" class="new">
				<em>
					<a href="/workflow/{{.Name | pathEscape}}/start">
						Start New Instance
					</a>
				</em>
			</td>
		</tr>
	</table>
</div>

<style>
#{{$scope}} {
	height: 100%;

	display: flex;
	flex-direction: column;
}

#{{$scope}} > iframe {
	flex-grow: 1;
	border: 5px groove var(--border);
	padding: 1%;
	min-height: 33vh;
}

#{{$scope}} .new {
	text-align: center;
}

#{{$scope}} ul.graph-types {
	display: flex;
	list-style: none;
	gap: 1%;
}

#{{$scope}} table tr.current {
	background: var(--accent);
}
</style>
{{end}}
