{{template "_layout.html" .}}

{{define "main"}}
	<table class="table">
		<tr>
			<th>Name</th>
			<th># Sources</th>
			<th># Instances</th>
		</tr>
		<tr>
			<td colspan="3">
				<form
					method="POST"
					action="/workflow/"
					style="text-align: center"
				>
					<input name="source" placeholder="Source"/>
					<input name="name" placeholder="Name"/>
					<button>Start New Workflow</button>
				</form>
			</td>
		</tr>
		{{range .}}
			<tr>
				<td>
					<a href="?name={{.Name}}">
						{{.Name}}
					</a>
				</td>
				<td>{{.NumInstances}}</td>
				<td>{{.NumSources}}</td>
			</tr>
		{{end}}
	</table>
{{end}}
