{{template "layout.html" .}}

{{define "main"}}
	{{$scope := "d2dc0bac8e4747b39b78a49cf274328a"}}

	<div id="{{$scope}}">
		<div class="tables">
			{{with .Run}}
				<table class="table vertical">
					<thead>
						<tr>
							<th colspan="2">
								General Information
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Nomad Job ID</th>
							<td>{{.NomadJobID}}</td>
						</tr>
						<tr>
							<th>Action ID</th>
							<td>
								<a href="/action/{{.ActionId}}">
									{{.ActionId}}
								</a>
							</td>
						</tr>
						<tr>
							<th>Created at</th>
							<td>{{.CreatedAt}}</td>
						</tr>
						<tr>
							<th>Finished at</th>
							<td>
								{{if .FinishedAt}}
									{{.FinishedAt}}
								{{else}}
									<form
										method="POST"
										action="/_dispatch/method/DELETE/run/{{.NomadJobID}}"
									>
										<button>Cancel</button>
									</form>
								{{end}}
							</td>
						</tr>
						<tr>
							<th>Duration</th>
							<td>
								{{if .FinishedAt}}
									{{.FinishedAt.Sub .CreatedAt}}
								{{else}}
									{{timeNow.Sub .CreatedAt}}
								{{end}}
							</td>
						</tr>
					</tbody>
				</table>

				<table class="table">
					<thead>
						<tr>
							<th
								colspan="2"
								title="Facts that satisfy inputs"
							>
								Inputs
							</th>
						</tr>
						<tr>
							<th>Name</th>
							<th>Facts</th>
						</tr>
					</thead>
					<tbody>
						{{range $name, $facts := $.inputs}}
							<tr>
								<td>{{$name}}</td>
								<td>{{template "facts" .}}</td>
							</tr>
						{{else}}
							<tr>
								<td colspan="2">
									<em>
										<p>No facts found that satisfy any inputs.</p>
										<p>
											That is correct if this action has only optional or negated inputs.<br/>
											Otherwise, maybe they were garbage collected?
										</p>
									</em>
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>

				<table class="table vertical">
					<thead>
						<tr>
							<th
								colspan="2"
								title="Facts that this Run published"
							>
								Facts
							</th>
						</tr>
					</thead>
					<tbody>
						{{range $.facts}}
							<tr>
								<td>Created at</td>
								<td>
									{{.CreatedAt}}
								</td>
							</tr>
							<tr>
								<td>Value</td>
								<td>
									<textarea
										readonly
										rows="10"
										cols="50"
									>{{toJson .Value true}}</textarea>
								</td>
							</tr>
							{{if .BinaryHash}}
								<tr>
									<td>Binary</td>
									<td>
										<a href="/api/fact/{{.ID}}/binary"><code>{{.BinaryHash}}</code></a>
									</td>
								</tr>
							{{end}}
						{{else}}
							<tr>
								<td colspan="2">
									<em>This Run has not published any facts.</em>
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>

				{{if not .FinishedAt}}
					<table class="table vertical">
						<thead>
							<tr>
								<th
									colspan="2"
									title="Fact that will be published when the Run ends"
								>
									Output
								</th>
							</tr>
							<tr>
								<th>Success</th>
								<th>Failure</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								{{if or $.output.Success $.output.Failure}}
									<td>
										<textarea
											readonly
											rows="10"
											cols="50"
										>{{toJson $.output.Success true}}</textarea>
									</td>
									<td>
										<textarea
											readonly
											rows="10"
											cols="50"
										>{{toJson $.output.Failure true}}</textarea>
									</td>
								{{else}}
									<td colspan="2">
										<em>
											<p>This Run has no output.</p>
											<p>
												If this Run declares an output
												this means it was canceled.
											</p>
										</em>
									</td>
								{{end}}
							</tr>
						</tbody>
					</table>
				{{end}}
			{{end}}
		</div>

		<h2>Task Groups</h2>
		<div class="tabs border" style="--num-tabs: {{len .allocs}}">
			{{range $groupName, $wrapper := .allocs}}
				<input id="tab-group-{{$groupName}}" type="radio" name="tab-group" checked/>
				<label for="tab-group-{{$groupName}}"><h3>{{$groupName}}</h3></label>
				<div style="padding: 1em">
					<table class="table">
						<thead>
							<tr>
								<th colspan="4">
									Allocations
								</th>
							</tr>
							<tr>
								<th>ID</th>
								<th>Created At</th>
								<th>Status</th>
								<th>Node</th>
							</tr>
						</thead>
						<tbody>
							{{range $wrapper}}
								<tr style="cursor: pointer">
									<td class="allocation-label">
										<label for="allocation-{{.ID}}">
											{{.ID}}
										</label>
									</td>
									<td class="allocation-label">
										<label for="allocation-{{.ID}}">
											{{timeUnixNano .CreateTime}}
										</label>
									</td>
									<td class="allocation-label">
										<label for="allocation-{{.ID}}">
											{{.ClientStatus}}
										</label>
									</td>
									<td class="allocation-label">
										<label for="allocation-{{.ID}}">
											{{.NodeName}}
										</label>
									</td>
								</tr>
							{{end}}
						</tbody>
					</table>

					<div id="allocation">
						{{range $alloc := $wrapper}}
							<input id="allocation-{{.ID}}" type="radio" name="allocation"/>
							<div>
								<h3>Allocation {{.ID}}</h3>
								{{with .Resources}}
									<table class="table vertical">
										<thead>
											<tr>
												<th colspan="2">
													Resources
												</th>
											</tr>
										</thead>
										<tbody>
											{{if not (eq (derefInt .Cores) 0)}}
												<tr>
													<th>Cores</th>
													<td>{{.Cores}}</td>
												</tr>
											{{end}}
											<tr>
												<th>CPU</th>
												<td>{{.CPU}} Mhz</td>
											</tr>
											<tr>
												<th>Disk</th>
												<td>{{.DiskMB}} MB</td>
											</tr>
											{{if not (eq (derefInt .IOPS) 0)}}
												<tr>
													<th>IOPS</th>
													<td>{{.IOPS}}</td>
												</tr>
											{{end}}
											<tr>
												<th>Memory</th>
												<td>{{.MemoryMB}} MB</td>
											</tr>
											{{if not (eq .MemoryMaxMB .MemoryMB)}}
												<tr>
													<th>Memory Max</th>
													<td>{{.MemoryMaxMB}} MB</td>
												</tr>
											{{end}}
										</tbody>
									</table>
								{{end}}

								<h3>Tasks</h3>
								<div class="tabs border" style="--num-tabs: {{len .TaskStates}}">
									{{range $taskName, $task := .TaskStates}}
										<input id="tab-task-{{$taskName}}" type="radio" name="tab-task-{{$alloc.ID}}" checked/>
										<label for="tab-task-{{$taskName}}"><h3>{{$taskName}}</h3></label>
										<div style="padding: 1em">
											<table class="table vertical">
												<thead>
													<tr>
														<th colspan="2">
															General Information
														</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th>Failed</th>
														<td>{{.Failed}}</td>
													</tr>
													<tr>
														<th>State</th>
														<td>{{.State}}</td>
													</tr>
													{{with .StartedAt}}
														<tr>
															<th>Started</th>
															<td>{{.}}</td>
														</tr>
													{{end}}
													{{if not .FinishedAt.IsZero}}
														<tr>
															<th>Finished</th>
															<td>{{.FinishedAt}}</td>
														</tr>
													{{end}}
													{{if .StartedAt}}
														<tr>
															<th>Duration</th>
															<td>
																{{if not .FinishedAt.IsZero}}
																	{{.FinishedAt.Sub .StartedAt}}
																{{else}}
																	{{timeNow.Sub .StartedAt}}
																{{end}}
															</td>
														</tr>
													{{end}}
													{{if gt .Restarts 0}}
														<tr>
															<th>Restarts</th>
															<td>{{.Restarts}}</td>
														</tr>
														<tr>
															<th>Last Restart</th>
															<td>{{.LastRestart}}</td>
														</tr>
													{{end}}
													{{with index $alloc.AllocatedResources.Tasks $taskName}}
														<tr>
															<th>CPU Shares</th>
															<td>{{.Cpu.CpuShares}} Mhz</td>
														</tr>
														<tr>
															<th>Memory</th>
															<td>{{.Memory.MemoryMB}} MB</td>
														</tr>
														{{if gt .Memory.MemoryMaxMB 0}}
															<tr>
																<th>Memory Max</th>
																<td>{{.Memory.MemoryMaxMB}} MB</td>
															</tr>
														{{end}}
													{{end}}
												</tbody>
											</table>

											<h3>Event Logs</h3>
											<table class="panel log">
												{{range .Events}}
													<tr>
														<td>{{(timeUnixNano .Time).Format "2006-01-02 15:04:05"}}</td>
														{{if eq .Type "Received" "Task Setup" "Task hook failed" "Started" "Restarting"}}
															<td><samp>{{.DisplayMessage}}</samp></td>
														{{else if eq .Type "Not Restarting"}}
															<td>
																<dl class="concise">
																	<dt><samp>{{.Type}}</samp></dt>
																	<dd><samp>{{.DisplayMessage}}</samp></dd>
																</dl>
															</td>
														{{else if eq .Type "Terminated"}}
															<td>
																<samp>{{.Type}}</samp>
																<dl class="concise">
																	{{range $key, $value := .Details}}
																		<dt><samp>{{$key}}</samp></dt>
																		<dd><samp>{{$value}}</samp></dd>
																	{{end}}
																</dl>
															</td>
														{{else}}
															<td>
																<details>
																	<summary><samp>{{.DisplayMessage}}</samp></summary>
																	<dl class="concise">
																		<dt>Type</dt>
																		<dd><samp>{{.Type}}</samp></dd>
																		{{with .Details}}
																			<dt>Details</dt>
																			<dd>
																				<br/>
																				<dl class="concise">
																					{{range $key, $value := .}}
																						<dt>{{$key}}</dt>
																						<dd><samp>{{$value}}</samp></dd>
																					{{end}}
																				</dl>
																			</dd>
																		{{end}}
																		{{with .DiskLimit}}
																			<dt>Disk Limit</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .DownloadError}}
																			<dt>Download Error</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .DriverError}}
																			<dt>Driver Error</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .DriverMessage}}
																			<dt>Driver Message</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .ExitCode}}
																			<dt>Exit Code</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .FailedSibling}}
																			<dt>Failed Sibling</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .FailsTask}}
																			<dt>Fails Task</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .GenericSource}}
																			<dt>Generic Source</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .KillError}}
																			<dt>Kill Error</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .KillReason}}
																			<dt>Kill Reason</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .KillTimeout}}
																			<dt>Kill Timeout</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .Message}}
																			<dt>Message</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .RestartReason}}
																			<dt>Restart Reason</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .SetupError}}
																			<dt>Setup Error</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .Signal}}
																			<dt>Signal</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .StartDelay}}
																			<dt>Start Delay</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .TaskSignal}}
																			<dt>Task Signal</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .TaskSignalReason}}
																			<dt>Task Signal Reason</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .ValidationError}}
																			<dt>Validation Error</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																		{{with .VaultError}}
																			<dt>Vault Error</dt>
																			<dd><samp>{{.}}</samp></dd>
																		{{end}}
																	</dl>
																</details>
															</td>
														{{end}}
													</tr>
												{{end}}
											</table>

											<h3>Task Logs</h3>
											{{if (index $alloc.Logs $taskName).Stdout}}
												<table class="panel log">
													{{range (index $alloc.Logs $taskName).Stdout}}
														<tr>
															<td>{{.Time.Format "2006-01-02 15:04:05"}}</td>
															<td><samp>{{.Text}}</samp></td>
														</tr>
													{{end}}
												</table>
											{{end}}
											{{if (index $alloc.Logs $taskName).Stderr}}
												<table class="panel log">
													{{range (index $alloc.Logs $taskName).Stderr}}
														<tr class="stderr">
															<td>{{.Time.Format "2006-01-02 15:04:05"}}</td>
															<td><samp>{{.Text}}</samp></td>
														</tr>
													{{end}}
												</table>
											{{end}}
										</div>
									{{end}}
								</div>
							</div>
						{{end}}
					</div>
				</div>
			{{end}}
		</div>
	</div>

	<style>
	#{{$scope}} table.log,
	#{{$scope}} table.log dl {
		width: 100%;
		font-size: .8rem;
		font-family: "SFMono-Regular", Monaco, Menlo, Consolas, "Liberation Mono", Courier, monospace;
	}

	#{{$scope}} table.log > tbody > tr > td:first-child {
		border-right: 2px solid var(--border);
		padding-right: .5em;
		width: 0; /* forced to correct width by `white-space: nowrap` below */

		white-space: nowrap;
		user-select: none;
		vertical-align: baseline;
	}

	#{{$scope}} table.log > tbody > tr > td:nth-child(2) {
		padding-left: .5em;
	}

	#{{$scope}} table.log .stderr {
		color: red;
	}

	#{{$scope}} #allocation > input,
	#{{$scope}} #allocation > input:not(:checked) + div {
		display: none;
	}
	</style>
{{end}}
