{{template "layout.html" .}}

{{define "main"}}
	<table
		class="table"
		style="width: 100%"
	>
		<thead>
			<tr>
				<th>Action</th>
				<th>Created At</th>
				<th>Finished At</th>
				<th>Duration</th>
				<th>Status</th>
				<th>Nomad Job ID</th>
			</tr>
		</thead>
		<tbody>
			{{range .Entries}}
				<tr>
					<td>
						{{with .Action}}
							<a href="/action/{{.ID}}">
								{{.Name}}
							</a>
						{{end}}
					</td>
					{{with .Run}}
						<td>{{template "datetime-local" .CreatedAt}}</td>
						<td>
							{{with .FinishedAt}}
								{{template "datetime-local" .}}
							{{else}}
								<form
									method="POST"
									action="/_dispatch/method/DELETE/run/{{.NomadJobID}}"
								>
									<button {{if not $.Session}}disabled{{end}}>
										Cancel
									</button>
								</form>
							{{end}}
						</td>
						<td class="numerical">
							{{if .FinishedAt}}
								{{.FinishedAt.Sub .CreatedAt}}
							{{else}}
								{{timeNow.Sub .CreatedAt}}
							{{end}}
						</td>
						<td>{{.Status}}</td>
						<td>
							<a href="/run/{{.NomadJobID}}">
								{{.NomadJobID}}
							</a>
						</td>
					{{else}}
						{{with .Invocation}}
							<td>{{template "datetime-local" .CreatedAt}}</td>
							<td colspan="4">
								<a href="/invocation/{{.Id}}">Invocation</a>
								{{if .FinishedAt}}
									failed
								{{else}}
									running…
								{{end}}
								<!-- XXX show last line of invocation log output here? -->
							</td>
						{{end}}
					{{end}}
				</tr>
			{{end}}
		</tbody>
	</table>

	{{template "paginationWithStats" .}}
{{end}}
