{{template "layout.html" .}}

{{define "main"}}
	<table
		class="table"
		style="width: 100%"
	>
		<thead>
			<tr>
				<th>Action</th>
				<th>Created At</th>
				<th>Finished At</th>
				<th>Duration</th>
				<th>Nomad Job ID</th>
			</tr>
		</thead>
		<tbody>
			{{range .Runs}}
				<tr>
					<td>
						{{with .Action}}
							<a href="/action/{{.ID}}">
								{{.Name}}
							</a>
						{{end}}
					</td>
					<td>{{.CreatedAt}}</td>
					<td>
						{{if .FinishedAt}}
							{{.FinishedAt}}
						{{else}}
							<form
								method="POST"
								action="/_dispatch/method/DELETE/run/{{.NomadJobID}}"
							>
								<button>Cancel</button>
							</form>
						{{end}}
					</td>
					<td class="numerical">
						{{if .FinishedAt}}
							{{.FinishedAt.Sub .CreatedAt}}
						{{end}}
					</td>
					<td>
						<a href="/run/{{.NomadJobID}}">
							{{.NomadJobID}}
						</a>
					</td>
				</tr>
			{{end}}
		</tbody>
	</table>

	<nav style="display: flex; justify-content: end">
		{{template "pagination" .}}
	</nav>
{{end}}
