{{template "layout.html" .}}

{{define "main"}}
	{{$scope := "ebef16070ef045af9d217e6cc6a0d9d3"}}

	<div id="{{$scope}}">
		<h1>{{.Action.Name}}</h1>

		<div class="tables">
			{{with .Action}}
				<table class="table">
					<thead>
						<tr>
							<th colspan="2">
								General Information
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Source</td>
							<td><code>{{.Source}}</code></td>
						</tr>
						<tr>
							<td>Created at</td>
							<td>{{.CreatedAt}}</td>
						</tr>
						<tr>
							<td>Meta</td>
							<td>
								<code>{{toJson .Meta true}}</code>
							</td>
						</tr>
					</tbody>
				</table>

				<table class="table">
					<thead>
						<tr>
							<th colspan="2">
								Inputs
							</th>
						</tr>
					</thead>
					<tbody>
						{{range $name, $input := .Inputs}}
							<tr>
								<th
									colspan="2"
									class="input-header"
								>
									{{$name}}
								</th>
							</tr>
							{{with $input}}
								<tr>
									<td>Select</td>
									<td>{{InputDefinitionSelectString .Select}}</td>
								</tr>
								<tr>
									<td>Not</td>
									<td>
										<input
											type="checkbox"
											disabled
											{{if .Not}}
												checked
											{{end}}
										/>
									</td>
								</tr>
								<tr>
									<td>Optional</td>
									<td>
										<input
											type="checkbox"
											disabled
											{{if .Optional}}
												checked
											{{end}}
										/>
									</td>
								</tr>
								<tr>
									<td>Match</td>
									<td>
										<div style="display: flex">
											<textarea
												readonly
												style="flex-grow: 1"
											>{{.Match}}</textarea>
										</div>
									</td>
								</tr>
							{{end}}
						{{end}}
					</tbody>
				</table>
			{{end}}

			{{with .Runs}}
				<table class="table">
					<thead>
						<tr>
							<th colspan="4">Runs</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>Created At</th>
							<th>Finished At</th>
							<th>Duration</th>
							<th>Nomad Job ID</th>
						</tr>
						{{range .}}
							<tr>
								<td>{{.CreatedAt}}</td>
								<td>
									{{if .FinishedAt}}
										{{.FinishedAt}}
									{{else}}
										<a href="/run/{{.NomadJobID}}/stop">
											Stop
										</a>
									{{end}}
								</td>
								<td class="numerical">
									{{if .FinishedAt}}
										{{.FinishedAt.Sub .CreatedAt}}
									{{end}}
								</td>
								<td>
									<a href="/run/{{.NomadJobID}}">
										{{.NomadJobID}}
									</a>
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>
			{{end}}
		</div>
	</div>

	<style>
	#{{$scope}} .input-header {
		text-align: center;
		font-style: italic;
	}
	</style>
{{end}}
