{{template "layout.html" .}}

{{define "main"}}
	{{$scope := "ebef16070ef045af9d217e6cc6a0d9d3"}}

	<div id="{{$scope}}">
		{{with .Action}}
			<h1>{{.Name}}</h1>

			<div class="content-flex">
				<table class="table">
					<thead>
						<tr>
							<th colspan="2">
								General Information
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Source</td>
							<td><code>{{.Source}}</code></td>
						</tr>
						<tr>
							<td>Created at</td>
							<td>{{.CreatedAt}}</td>
						</tr>
						<tr>
							<td>Active</td>
							<td>
								<form
									method="POST"
									action="/_dispatch/method/PATCH/action/{{.ID}}"
								>
									<input
										type="checkbox"
										{{if .Active}}
											checked
										{{end}}
										onChange="this.form.submit()"
									/>
									<input
										type="hidden"
										name="active"
										value="{{not .Active}}"
									/>
								</form>
							</td>
						</tr>
						<tr>
							<td>Meta</td>
							<td>
								<code>{{toJson .Meta true}}</code>
							</td>
						</tr>
					</tbody>
				</table>

				<table class="table">
					<thead>
						<tr>
							<th colspan="3">
								Inputs
							</th>
						</tr>
						<tr>
							<th>Name</th>
							<th>Details</th>
							<th title="Fact that currently satisfies this input">
								Satisfied by
							</th>
						</tr>
					</thead>
					<tbody>
						{{range $name, $input := .InOut.Inputs nil}}
							<tr>
								<td>{{$name}}</td>
								<td>
									<details class="collapse">
										<summary>
											<dl class="inline">
												<dt style="display: none">
													<!-- We keep this invisible element for semantics. -->
												</dt>
												<dd>CUE</dd>
												{{with .Not}}
													<dt>Not</dt>
													<dd>
														<input
															type="checkbox"
															disabled
															checked
														/>
													</dd>
												{{end}}
												{{with .Optional}}
													<dt>Optional</dt>
													<dd>
														<input
															type="checkbox"
															disabled
															checked
														/>
													</dd>
												{{end}}
											</dl>
										</summary>
										<div style="display: flex">
											<textarea
												readonly
												style="flex-grow: 1"
												rows="10"
												cols="50"
											>{{.Match}}</textarea>
										</div>
									</details>
								</td>
								<td>
									{{if hasKey $.inputs $name}}
										{{with index $.inputs $name}}
											{{template "fact" .}}
										{{end}}
									{{end}}
								</td>
							</tr>
						{{end}}
					</tbody>
				</table>

				<table class="table vertical">
					<thead>
						<tr>
							<th
								colspan="2"
								title="Fact that will be published when a Run ends"
							>
								Output
							</th>
						</tr>
						<tr>
							<th>Success</th>
							<th>Failure</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							{{with .InOut.Output nil}}
								<td>
									{{if .Success.Exists}}
										<textarea
											readonly
											rows="10"
											cols="50"
										>{{.Success}}</textarea>
									{{end}}
								</td>
								<td>
									{{if .Failure.Exists}}
										<textarea
											readonly
											rows="10"
											cols="50"
										>{{.Failure}}</textarea>
									{{end}}
								</td>
							{{end}}
						</tr>
					</tbody>
				</table>
			</div>

			<h2>Runs</h2>
			<iframe
				style="width: 100%; min-height: 30rem"
				class="iframe"
				src="/action/{{.ID}}/run"
			></iframe>

			<h2>Versions</h2>
			<iframe
				style="width: 100%; min-height: 30rem"
				class="iframe"
				src="/action/{{.ID}}/version"
			></iframe>
		{{end}}
	</div>
{{end}}
