{{template "layout.html" .}}

{{define "main"}}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Created At</th>
				<th>Active</th>
			</tr>
		</thead>
		<tbody>
			<tr style="text-align: center">
				<td
					colspan="2"
					style="font-style: italic"
				>
					<a href="/action/new">
						Create New Action
					</a>
				</td>
				<td>
					<form>
						<input
							type="checkbox"
							name="active"
							{{if .active}}
								checked
							{{end}}
							onChange="this.form.submit()"
							title="Showing only {{if not .active}}in{{end}}active Actions"
						/>
					</form>
				</td>
			</tr>
			{{range .Actions}}
				<tr>
					<td>
						<a href="/action/current/{{.Name | pathEscape}}">
							{{.Name}}
						</a>
					</td>
					<td>{{template "datetime-local" .CreatedAt}}</td>
					<td>
						<form
							method="POST"
							action="/_dispatch/method/PATCH/action/name/{{.Name | pathEscape}}"
							style="text-align: center"
						>
							<input
								type="checkbox"
								{{if $.active}}
									checked
								{{end}}
								{{if not $.Session}}
									disabled
								{{end}}
								onChange="this.form.submit()"
							/>
							<input
								type="hidden"
								name="active"
								value="{{not $.active}}"
							/>
						</form>
					</td>
				</tr>
			{{end}}
		</tbody>
	</table>
{{end}}
