<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>

	<body>
		<table
			class="table"
			style="width: 100%"
		>
			<thead>
				<tr>
					<th>Created At</th>
					<th>Finished At</th>
					<th>Duration</th>
					<th>Status</th>
					<th>Nomad Job ID</th>
				</tr>
			</thead>
			<tbody>
				{{range .Entries}}
					<tr>
						{{with .Run}}
							<td>{{.CreatedAt}}</td>
							<td>
								{{with .FinishedAt}}
									{{template "datetime-local" .}}
								{{else}}
									<form
										method="POST"
										action="/_dispatch/method/DELETE/run/{{.NomadJobID}}"
									>
										<button>Cancel</button>
									</form>
								{{end}}
							</td>
							<td class="numerical">
								{{if .FinishedAt}}
									{{.FinishedAt.Sub .CreatedAt}}
								{{end}}
							</td>
							<td>{{.Status}}</td>
							<td>
								<a target="_parent" href="/run/{{.NomadJobID}}">
									{{.NomadJobID}}
								</a>
							</td>
						{{else}}
							{{with .Invocation}}
								<td>{{template "datetime-local" .CreatedAt}}</td>
								<td colspan="4">
									<a target="_parent" href="/invocation/{{.Id}}">Invocation</a>
									{{if .FinishedAt}}
										failed
									{{else}}
										running…
									{{end}}
									<!-- XXX show last line of invocation log output here? -->
								</td>
							{{end}}
						{{end}}
					</tr>
				{{end}}
			</tbody>
		</table>

		{{template "paginationWithFilterStats" .}}
	</body>
</html>
