<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
	</head>

	<body>
		<table
			class="table"
			style="width: 100%"
		>
			<thead>
				<tr>
					<th>ID</th>
					<th>Created At</th>
					<th>Source</th>
				</tr>
			</thead>
			<tbody>
				{{range .Actions}}
					<tr>
						<td>
							{{if eq .ID $.ActionID}}
								<details>
									<summary>this version</summary>
								<a
									href="/action/{{.ID}}"
									target="_parent"
								>
									{{.ID}}
								</a>
								</details>
							{{else}}
								<a
									href="/action/{{.ID}}"
									target="_parent"
								>
									{{.ID}}
								</a>
							{{end}}
						</td>
						<td>{{template "datetime-local" .CreatedAt}}</td>
						<td><code>{{.Source}}</code></td>
					</tr>
				{{end}}
			</tbody>
		</table>

		{{template "paginationWithStats" .}}
	</body>
</html>
