{{template "layout.html" .}}

{{define "main"}}
	<h1>{{.Name}}</h1>

	<table class="table">
		<tr>
			<th>ID</th>
			<th>Source</th>
			<th>Created At</th>
			<th>Updated At</th>
			<th>Facts</th>
		</tr>
		{{range .Instances}}
			<tr>
				<td><a href="/workflow/{{.ID}}">{{.ID}}</a></td>
				<td><code>{{.Source}}</code></td>
				<td>{{.CreatedAt}}</td>
				<td>{{.UpdatedAt}}</td>
				<td style="display: flex">
					<textarea
						readonly
						style="flex-grow: 1"
					>{{toJson .Facts true}}</textarea>
				</td>
			</tr>
		{{end}}
	</table>
{{end}}
