html {
	background: cornsilk;
	--accent: burlywood;
	--accent-rgb: 222, 184, 135;
	--border: gainsboro;
	--border-rgb: 220, 220, 220;

	font-family: Sans-Serif;
}

table.table {
	border-spacing: 0;
	border-collapse: collapse;
}

table.table th,
table.table td {
	border: 3px solid var(--border);
	padding: .5em;
}
table.table > thead > tr:nth-child(even) {
	background: var(--border);
}
table.table > tbody > tr:nth-child(odd) {
	background: var(--border);
}

table.table.vertical > tbody > tr > th {
	text-align: start;
}

table td.numerical {
	text-align: end;
}

table.log {
	width: 100%;
}
table.log > tbody > tr > td:first-child {
	border-right: 2px solid var(--border);
	padding-right: .5em;
	width: 0; /* forced to correct width by `white-space: nowrap` below */

	white-space: nowrap;
	user-select: none;
	vertical-align: baseline;
}
table.log > tbody > tr > td:nth-child(2) {
	padding-left: .5em;
}

.content-flex {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
.content-flex > * {
	margin: 1em;
}

button.link {
	background: none !important;
	border: none;
	padding: 0 !important;
	color: #069;
	text-decoration: underline;
	cursor: pointer;
}

iframe.iframe {
	border: none;
}

.panel {
	border: 5px groove var(--border);
}

.window {
	border: 3px solid var(--border);
}
.window > * {
	padding: .5em;
}
.window > header {
	border-bottom: 3px solid var(--border);
	text-align: center;
	font-weight: bold;
}
.window > div {
	background: var(--border);
}
.window > footer {
	border-top: 3px solid var(--border);
}

details.collapse > summary {
	cursor: pointer;
}

.tabs {
	display: grid;
	grid-template-rows: auto 1fr;
}
.tabs > label {
	grid-row: 1;
	border-bottom: 1px solid var(--border);
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.tabs > input {
	display: none;
}
.tabs > input:checked + label {
	border: 2px solid var(--border);
	border-bottom: none;
	background: linear-gradient(to bottom, rgba(var(--accent-rgb), 25%), rgba(var(--accent-rgb), 0%));
}
.tabs > div {
	grid-row: 2;
	grid-column: 1 / calc(var(--num-tabs) + 1);
}
.tabs.border > div {
	border-left:   2px solid var(--border);
	border-right:  2px solid var(--border);
	border-bottom: 2px solid var(--border);
}
.tabs > input:not(:checked) + label + div {
	display: none;
}

ul.pagination {
	padding: 0;
	margin: 0;
	list-style: none;

	display: flex;
}
ul.pagination > li {
	border: 3px solid var(--border);
	background: var(--border);

	display: flex;
	align-items: center;
	justify-content: center;
}
ul.pagination > li:first-child,
ul.pagination > li:last-child {
	min-width: 2em;
	min-height: 2em;
	transition: background .25s;
	user-select: none;
	cursor: pointer;
}
ul.pagination > li:first-child:hover,
ul.pagination > li:last-child:hover {
	background: rgba(var(--border-rgb), 25%);
}
ul.pagination > li > a {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

dl.concise {
	margin: 0;
}
dl.concise > dt {
	float: left;
	clear: left;
}
dl.concise > dt::after,
dl.inline > dt::after {
	content: ': ';
	white-space: pre;
}
dl.inline {
	margin: 0;
	display: inline-flex;
}
dl.inline > dt:not(:first-child) {
	margin-inline-start: .5em;
}
dl.inline > dd {
	margin-inline-start: 0;
}
dl.inline > dd:not(:last-child)::after {
	content: ', ';
	white-space: pre;
}

.log {
	font-size: .8rem;
	font-family: "SFMono-Regular", Monaco, Menlo, Consolas, "Liberation Mono", Courier, monospace;
}
.log.stderr {
	color: red;
}
.log.error {
	font-style: italic;
}
