{{template "layout.html" .}}

{{define "main"}}
	<div
		class="panel"
		style="
			margin-left: auto;
			margin-right: auto;
			width: max-content;
			padding: 1em;
		"
	>
		{{with .Session}}
			<strong>
				You are already logged in with <samp>{{.Provider}}</samp> as <samp>{{.UserInfo.GetEmail}}</samp>.
			</strong>
		{{else}}
			<strong>Please log in with…</strong>

			<ul style="list-style-type: none">
				{{range .Providers}}
					<li>→ <a href="/login/oidc/{{.}}?forward={{$.Forward}}">{{.}}</a></li>
				{{end}}
			</ul>
		{{end}}
	</div>
{{end}}
