{{template "layout.html" .}}

{{define "main"}}
	<div
		class="panel"
		style="
			margin-left: auto;
			margin-right: auto;
			width: max-content;
			padding: 1em;
		"
	>
		{{with .Session}}
			<strong>
				You are logged in with <samp>{{.Provider}}</samp> as <samp>{{.UserInfo.GetEmail}}</samp>.
			</strong>

			<dl>
				<dt>Your session's bearer token is:</dt>
				<dd><samp style="user-select: all">{{.Raw}}</samp></dd>
			</dl>
		{{else}}
			<strong>Please log in with…</strong>

			<ul style="list-style-type: none">
				{{range .Providers}}
					<li>→ <a href="/login/oidc/{{.}}{{with $.Forward}}?forward={{.}}{{end}}">{{.}}</a></li>
				{{end}}
			</ul>
		{{end}}
	</div>
{{end}}
