html {
	background: cornsilk;
	--accent: burlywood;
	--border: gainsboro;
}

table.table {
	margin: 1rem;
	border-spacing: 0;
	border-collapse: collapse;
}

table.table th,
table.table td {
	border: 3px solid var(--border);
	padding: .5em;
}
table.table tr:nth-child(even) {
	background: var(--border);
}
