<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
		<title>Cicero</title>
		<style>
		html {
			display: flex;
		}
		html, body {
			min-width: 100%;
			min-height: 100%;
		}
		body {
			margin: 0;

			display: flex;
			flex-direction: column;
		}
		body > nav .logo {
			height: max(3rem, 5vh);
		}
		body > nav > ul {
			padding: 1rem 3rem;
			background: var(--accent);
			list-style: none;
			font-size: 1.5rem;

			display: flex;
			gap: 2em;
			align-items: center;
		}
		body > nav > ul > li:nth-last-child(2) {
			flex-grow: 1;
			text-align: end;
		}
		body > main {
			flex-grow: 1;
			padding: 1rem;
		}
		body > footer {
			padding: .5rem;
			background: var(--accent);

			display: flex;
		}
		body > footer > .build-info {
			flex-grow: 1;
			text-align: end;
			opacity: 75%;
		}
		</style>
	</head>

	{{define "pagination"}}
		<ul class="pagination">
			<li>
				{{if .PrevOffset}}
					<a href="?limit={{.Limit}}&offset={{.PrevOffset}}">«</a>
				{{else}}
					«
				{{end}}
			</li>
			<li aria-current="page">
				{{.Number}}
			</li>
			<li>/</li>
			<li>{{.Pages}}</li>
			<li>
				<span style="opacity: 50%">
					({{.Total}})
				</span>
			</li>
				<select
					title="entries per page"
					autocomplete="off"
				>
					{{$selected := false}}
					{{range $v := mkslice 10 15 20 25 50 100}}
						{{if and (not $selected) (gt $v $.Limit)}}
							<option selected>{{$.Limit}}</option>
							{{$selected = true}}
						{{end}}
						<option
							{{if eq $v $.Limit}}
								selected
								{{$selected = true}}
							{{end}}
						>
							{{$v}}
						</option>
					{{end}}
				</select>
				<script>
				document.scripts[document.scripts.length - 1]
				.previousElementSibling
				.onchange = e => {
					const params = new URLSearchParams(location.search);
					params.set('limit', e.target.value);
					location.search = params;
				};
				</script>
			<li>
			</li>
			<li>
				{{if .NextOffset}}
					<a href="?limit={{.Limit}}&offset={{.NextOffset}}">»</a>
				{{else}}
					»
				{{end}}
			</li>
		</ul>
	{{end}}

	{{define "fact"}}
		<details class="collapse">
			<summary>{{.ID}}</summary>
			<dl>
				<dt>Created At</dt>
				<dd>{{.CreatedAt}}</dd>

				<dt>Value</dt>
				<dd>
					<textarea
						readonly
						rows="10"
						cols="50"
					>{{toJson .Value true}}</textarea>
				</dd>

				{{if .BinaryHash}}
					<dt>Binary</dt>
					<dd>
						<a href="/api/fact/{{.ID}}/binary"><code>{{.BinaryHash}}</code></a>
					</dd>
				{{end}}
			</dl>
		</details>
	{{end}}

	{{define "facts"}}
		<ul style="list-style: none; padding: 0; margin: 0">
			{{range .}}
				<li>{{template "fact" .}}</li>
			{{end}}
		</ul>
	{{end}}

	{{define "log"}}
		<table
			class="panel log"
			style="display: none"
		>
			<tbody></tbody>
		</table>

		<em>No log found.</em>

		<script>
		(() => {
			const noLogFound = document.scripts[document.scripts.length - 1].previousElementSibling;
			const table = noLogFound.previousElementSibling;
			const tbody = table.querySelector('tbody');

			function renderLine(tr, line) {
				if (line.error != null) {
					line.text = line.error;
					delete line.error;
					line.labels = {source: 'error'};
				}

				const td1 = document.createElement('td');
				if (line.time != null) {
					const s2 = '2-digit';
					const p =
						new Intl.DateTimeFormat('in', { year: 'numeric', month: s2, day: s2, hour: s2, minute: s2, second: s2, hour12: false, timeZoneName: 'longOffset' }).
						formatToParts(new Date(line.time)).
						map(p => p.value);

					td1.innerText = `${p[4]}-${p[2]}-${p[0]} ${p[6]}:${p[8]}:${p[10]}`;
					td1.title = `${p[12]}`;
				} else {
					td1.innerText = line.labels.source;
				}

				const samp = document.createElement('samp');
				samp.innerText = line.text;

				const td2 = document.createElement('td');
				td2.appendChild(samp);

				tr.appendChild(td1);
				tr.appendChild(td2);
				tr.classList.add(line.labels.source);
			}

			let numLinesOmitted = 0;
			function appendLine(line) {
				renderLine(tbody.insertRow(), line);

				const maxLines = 1000;
				const snipLineRowIdx = Math.floor(maxLines / 2);
				if (tbody.childElementCount > maxLines) {
					numLinesOmitted += 1;

					const snipLineText = numLinesOmitted + ' lines omitted (view raw instead)';
					if (numLinesOmitted == 1) {
						// This is the first line we omit so the snip line does not yet exist. Add it.
						renderLine(tbody.insertRow(snipLineRowIdx), {
							text: snipLineText,
							labels: {source: 'info'},
						});
					} else {
						// This is not the first line we omit so the snip line already exists.
						// Update its text to represent the omitted line count.
						// Access properties directly instead of using a query for speed.
						tbody.children[snipLineRowIdx]. // <tr>
							children[1]. // <td>
							children[0]. // <samp>
							textContent = snipLineText;
					}

					// Remove the line after the snip line so we don't accidentally remove the snip line itself.
					tbody.children[snipLineRowIdx + 1].remove();
				}

				table.style.display = null;
				noLogFound.style.display = 'none';
			}

			document.addEventListener('DOMContentLoaded', async () => {
				const ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.host + {{.}});
				ws.onmessage = msg => {
					let line;
					try {
						line = JSON.parse(msg.data);
					} catch {
						line = {error: msg.data};
					}
					appendLine(line);
				};
				ws.onerror = msg => {
					appendLine({error: msg.data});
				};
			});
		})()
		</script>
	{{end}}

	{{define "datetime-local"}}
		{{if not .IsZero}}
			<script>
			(() => {
				const span = document.createElement('span');
				const s2 = '2-digit';
				const p =
					new Intl.DateTimeFormat('in', { year: 'numeric', month: s2, day: s2, hour: s2, minute: s2, second: s2, hour12: false, timeZoneName: 'longOffset' }).
					formatToParts(new Date({{.UnixMilli}})).
					map(p => p.value);
				span.innerText = `${p[4]}-${p[2]}-${p[0]} ${p[6]}:${p[8]}:${p[10]}`;
				span.title = `${p[12]}`;

				document.scripts[document.scripts.length - 1].replaceWith(span);
			})();
			</script>
			<noscript>{{.}}</noscript>
		{{end}}
	{{end}}

	{{define "stats"}}
		<dl
			class="inline"
			style="
				justify-content: end;
				align-items: center;
			"
		>
			<dt>Running</dt>
			<dd>{{.RunsRunning}}</dd>
			<dt>Succeeded</dt>
			<dd>{{.RunsSucceeded}}</dd>
			<dt>Failed</dt>
			<dd>{{.RunsFailed}}</dd>
			<dt>Canceled</dt>
			<dd>{{.RunsCanceled}}</dd>
			<dt>Invoking</dt>
			<dd>{{.InvocationsInvoking}}</dd>
			<dt>Invocation failed</dt>
			<dd>{{.InvocationsFailed}}</dd>
		</dl>
	{{end}}

	{{define "paginationWithStats"}}
		<nav style="display: flex">
			<div style="
				flex-grow: 1;
				margin-right: 1em;

				display: flex;
				justify-content: end;
			">
				{{template "stats" .Stats}}
			</div>
			{{template "pagination" .Page}}
		</nav>
	{{end}}

	<body>
		<nav>
			<ul>
				<li>
					<img src="/static/logo.svg" class="logo" alt="Cicero Logo"/>
				</li>
				<li><a href="/action/current?active">Actions</a></li>
				<li><a href="/run">Runs</a></li>
				<li>
					{{if .Session}}
						<a href="/login/oidc">Session</a>
					{{end}}
				</li>
				<li>
					{{with .Session}}
						<a
							href="/logout"
							title="{{.UserInfo.Email}}"
						>
							Log Out
						</a>
					{{else}}
						<a href="/login/oidc">Log In</a>
					{{end}}
				</li>
			</ul>
		</nav>
		<main>
			{{block "main" .}}{{end}}
		</main>
		<footer>
			<div class="build-info">
				{{with buildInfo}}
					{{.Version}} ({{.Commit}})
				{{end}}
			</div>
		</footer>
	</body>
</html>
