<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
		<title>Cicero</title>
		<style>
		html {
			display: flex;
		}
		html, body {
			min-width: 100%;
			min-height: 100%;
		}
		body {
			margin: 0;

			display: flex;
			flex-direction: column;
		}
		body > nav .logo {
			height: max(3rem, 5vh);
		}
		body > nav > ul {
			padding: 1rem 3rem;
			background: var(--accent);
			list-style: none;
			font-size: 1.5rem;

			display: flex;
			gap: 2em;
			align-items: center;
		}
		body > nav > ul > li:nth-last-child(2) {
			flex-grow: 1;
			text-align: end;
		}
		body > main {
			flex-grow: 1;
			padding: 1rem;
		}
		body > footer {
			padding: .5rem;
			background: var(--accent);

			display: flex;
		}
		body > footer > .build-info {
			flex-grow: 1;
			text-align: end;
			opacity: 75%;
		}
		</style>
	</head>

	{{define "pagination"}}
		{{with .Page}}
			<ul class="pagination">
				<li>
					{{if .PrevOffset}}
						<a href="?limit={{.Limit}}&offset={{.PrevOffset}}{{with $.Filter}}&{{.URLSearchParams.Encode | url}}{{end}}">«</a>
					{{else}}
						«
					{{end}}
				</li>
				<li aria-current="page">
					{{.Number}}
				</li>
				<li>/</li>
				<li>{{.Pages}}</li>
				<li>
					<span style="opacity: 50%">
						({{.Total}})
					</span>
				</li>
					<select
						title="entries per page"
						autocomplete="off"
					>
						{{$selected := false}}
						{{range makeSlice 10 15 20 25 50 100}}
							{{if and (not $selected) (gt . $.Page.Limit)}}
								<option selected>{{$.Limit}}</option>
								{{$selected = true}}
							{{end}}
							<option
								{{if eq . $.Page.Limit}}
									selected
									{{$selected = true}}
								{{end}}
							>
								{{.}}
							</option>
						{{end}}
					</select>
					<script>
					document.scripts[document.scripts.length - 1]
					.previousElementSibling
					.onchange = e => {
						const params = new URLSearchParams(location.search);
						params.set('limit', e.target.value);
						location.search = params;
					};
					</script>
				<li>
				</li>
				<li>
					{{if .NextOffset}}
						<a href="?limit={{.Limit}}&offset={{.NextOffset}}{{with $.Filter}}&{{.URLSearchParams.Encode | url}}{{end}}">»</a>
					{{else}}
						»
					{{end}}
				</li>
			</ul>
		{{end}}
	{{end}}

	{{define "fact"}}
		<details class="collapse">
			<summary>{{.ID}}</summary>
			<dl>
				<dt>Created At</dt>
				<dd>{{.CreatedAt}}</dd>

				<dt>Value</dt>
				<dd>
					<textarea
						readonly
						rows="10"
						cols="50"
					>{{toJson .Value true}}</textarea>
				</dd>

				{{if .BinaryHash}}
					<dt>Binary</dt>
					<dd>
						<a href="/api/fact/{{.ID}}/binary"><code>{{.BinaryHash}}</code></a>
					</dd>
				{{end}}
			</dl>
		</details>
	{{end}}

	{{define "facts"}}
		<ul style="list-style: none; padding: 0; margin: 0">
			{{range .}}
				<li>{{template "fact" .}}</li>
			{{end}}
		</ul>
	{{end}}

	{{define "log"}}
		<table class="panel log">
			<tbody></tbody>
			<tfoot>
				<tr class="info">
					<td>status</td>
					<td>Loading…</td>
				</tr>
			</tfoot>
		</table>

		<script>
		(() => {
			const script = document.scripts[document.scripts.length - 1]
			const table = script.previousElementSibling;
			const tbody = table.getElementsByTagName('tbody')[0];
			const status = table.getElementsByTagName('tfoot')[0].
				getElementsByTagName('tr')[0].
				getElementsByTagName('td')[1];

			function renderLine(tr, line) {
				if (line.error != null) {
					line.text = line.error;
					delete line.error;
					line.labels = {source: 'error'};
				}

				const td1 = document.createElement('td');
				if (line.time != null) {
					const s2 = '2-digit';
					const p =
						new Intl.DateTimeFormat('in', { year: 'numeric', month: s2, day: s2, hour: s2, minute: s2, second: s2, hour12: false, timeZoneName: 'longOffset' }).
						formatToParts(new Date(line.time)).
						map(p => p.value);

					td1.innerText = `${p[4]}-${p[2]}-${p[0]} ${p[6]}:${p[8]}:${p[10]}`;
					td1.title = `${p[12]}`;
				} else {
					td1.innerText = line.labels.source;
				}

				const samp = document.createElement('samp');
				samp.innerText = line.text;

				const td2 = document.createElement('td');
				td2.appendChild(samp);

				tr.appendChild(td1);
				tr.appendChild(td2);
				tr.classList.add(line.labels.source);
			}

			let numLinesOmitted = 0;
			function appendLine(line) {
				renderLine(tbody.insertRow(), line);

				const maxLines = 1000;
				const snipLineRowIdx = Math.floor(maxLines / 2);
				if (tbody.childElementCount > maxLines) {
					numLinesOmitted += 1;

					const snipLineText = numLinesOmitted + ' lines omitted (view raw instead)';
					if (numLinesOmitted == 1) {
						// This is the first line we omit so the snip line does not yet exist. Add it.
						renderLine(tbody.insertRow(snipLineRowIdx), {
							text: snipLineText,
							labels: {source: 'info'},
						});
					} else {
						// This is not the first line we omit so the snip line already exists.
						// Update its text to represent the omitted line count.
						// Access properties directly instead of using a query for speed.
						tbody.children[snipLineRowIdx]. // <tr>
							children[1]. // <td>
							children[0]. // <samp>
							textContent = snipLineText;
					}

					// Remove the line after the snip line so we don't accidentally remove the snip line itself.
					tbody.children[snipLineRowIdx + 1].remove();
				}
			}

			document.addEventListener('DOMContentLoaded', async () => {
				const ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.host + {{.}});
				ws.onmessage = msg => {
					let line;
					try {
						line = JSON.parse(msg.data);
					} catch {
						line = {error: msg.data};
					}
					appendLine(line);

					status.textContent = 'Waiting for more lines…';
				};
				ws.onclose = () => {
					if (tbody.childElementCount == 0) {
						status.textContent = 'No log found.';
					} else {
						status.textContent = 'No more lines.';
					}
				};
				ws.onerror = msg => appendLine({error: msg.data ?? 'Unknown error'});
			});
		})()
		</script>
	{{end}}

	{{define "datetime-local"}}
		{{if not .IsZero}}
			<script>
			(() => {
				const span = document.createElement('span');
				const s2 = '2-digit';
				const p =
					new Intl.DateTimeFormat('in', { year: 'numeric', month: s2, day: s2, hour: s2, minute: s2, second: s2, hour12: false, timeZoneName: 'longOffset' }).
					formatToParts(new Date({{.UnixMilli}})).
					map(p => p.value);
				span.innerText = `${p[4]}-${p[2]}-${p[0]} ${p[6]}:${p[8]}:${p[10]}`;
				span.title = `${p[12]}`;

				document.scripts[document.scripts.length - 1].replaceWith(span);
			})();
			</script>
			<noscript>{{.}}</noscript>
		{{end}}
	{{end}}

	{{define "stats"}}
		<dl
			class="inline"
		>
			<dt>Running</dt>
			<dd>{{.RunsRunning}}</dd>
			<dt>Succeeded</dt>
			<dd>{{.RunsSucceeded}}</dd>
			<dt>Failed</dt>
			<dd>{{.RunsFailed}}</dd>
			<dt>Canceled</dt>
			<dd>{{.RunsCanceled}}</dd>
			<dt>Invoking</dt>
			<dd>{{.InvocationsInvoking}}</dd>
			<dt>Invocation failed</dt>
			<dd>{{.InvocationsFailed}}</dd>
		</dl>
	{{end}}

	{{define "select-multiple"}}
		{{- /*
			The dot value is expected to have these fields:
			- `title` (optional) A `title` attribute for the container.
			- `label` (optional) Will be shown when the dropdown is closed.
			- `options` (required) A list of lists, one for each option.
				Each list for an option has three indices:
				1. The `value` attribute.
				2. The display text.
				3. The initial selected state.
			- `onblur` (optional) JavaScript code to execute on the `blur` event.
				This has `event` and `select` variables in scope.
		*/ -}}
		{{$class := "effc28ffbea7413c833df8c16e9f4f39"}}
		<div
			class="{{$class}}"
			{{with .title}}title="{{.}}"{{end}}
		>
			<!-- participates in layout when the dummy has `display: none` -->
			<select class="{{$class}}-placeholder" autocomplete="off">
				<option selected></option>
			</select>

			<!-- shows a summary -->
			<select class="{{$class}}-dummy" autocomplete="off">
				<option selected>
					{{with .label}}
						{{.}}:
					{{end}}
					All
				</option>
			</select>

			<!-- the dropdown -->
			<select
				class="{{$class}}-select"
				multiple
				size="{{addInt (len .options) 1}}"
				autocomplete="off"
			>
				<option value="all">
					All
				</option>
				<optgroup>
					{{range .options}}
						<option
							value="{{index . 0}}"
							{{if index . 2 -}}
								selected
							{{- end}}
						>
							{{index . 1}}
						</option>
					{{end}}
				</optgroup>
			</select>

			<script>
			(() => {
				const script = document.scripts[document.scripts.length - 1];
				const select = script.previousElementSibling;
				const dummy = select.previousElementSibling;
				const dummyOption = dummy.getElementsByTagName('option')[0];
				const placeholder = dummy.previousElementSibling;
				const placeholderOption = placeholder.getElementsByTagName('option')[0];

				let prevState = {};
				for (const option of select.options) {
					prevState[option.value] = option.selected;
				}

				function onChange() {
					const nextState = structuredClone(prevState);
					const optionsArr = Array.from(select.options);

					switch (optionsArr.filter(option => option.selected).length) {
					case 0: break;
					case 1:
						// when the user simply clicks an option the browser deselects all other options
						const clicked = optionsArr.find(option => option.selected);

						// toggle clicked option
						nextState[clicked.value] = !prevState[clicked.value];

						if (clicked.value != 'all') {
							// deselect `all` if anything else was clicked
							nextState['all'] = false;
						} else if (prevState['all']) {
							// deselect everything else if `all` was deselected by click
							for (const k in nextState) {
								nextState[k] = false;
							}
						}
						break;
					default:
						// just keep the browser's state
						// if the user selected multiple options at the same time
						// (for example by dragging)
						for (const option of optionsArr) {
							nextState[option.value] = option.selected;
						}
						break;
					}

					prevState = nextState;
				}

				function updateSelection() {
					const nextState = structuredClone(prevState);

					if (nextState['all']) {
						// select everything else if `all` is selected
						for (const k in nextState) {
							nextState[k] = true;
						}
					} else {
						// select `all` if everything else is selected
						nextState['all'] = true;
						for (const k in nextState) {
							if (k == 'all') continue;
							if (!nextState[k]) {
								nextState['all'] = false;
								break;
							}
						}
					}

					// update options
					for (const option of select.options) {
						option.selected = nextState[option.value];
					}
					// save state for next event
					prevState = nextState;
				}

				function updateDummy() {
					let text = '';

					for (const option of select.selectedOptions) {
						if (text != '') text += ', ';
						text += option.text;
						if (option.value == 'all') break;
					}

					if (text == '') text = '(none)';

					{{with .label}}
						text = {{.}} + ': ' + text;
					{{end}}

					dummyOption.textContent = text;

					// make sure the placeholder has the same width
					placeholderOption.textContent = dummyOption.textContent;
				}

				updateSelection();
				updateDummy();

				dummy.onfocus = () => select.focus();

				select.onchange = () => {
					onChange();
					updateSelection();
				};

				select.onblur = event => {
					updateDummy();

					{{with .onblur}}{{. | js}}{{end}}
				};
			})();
			</script>

			<style>
			.{{$class}} {
				display: grid;
				position: relative;
			}

			.{{$class}}-placeholder {
				display: none;
			}
			.{{$class}}:focus-within .{{$class}}-placeholder {
				display: initial;
				visibility: hidden;
			}

			/*
			Remove the dummy when the dropdown is visible.
			`visibility: hidden` does not suffice in Chrome
			because that still shows the dummy's dropdown.
			*/
			.{{$class}}:focus-within .{{$class}}-dummy {
				display: none;
			}

			.{{$class}}-select {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				z-index: 1;
			}
			.{{$class}}-select option:checked::before {
				content: '✅';
			}
			.{{$class}}-select option:not(:checked)::before {
				content: '❌';
			}
			.{{$class}}:focus-within .{{$class}}-select {
				display: initial;
			}
			</style>
		</div>
	{{end}}

	{{define "filter"}}
		{{template "select-multiple" (makeMap
			"title" "Filter by status"
			"label" "Show"
			"options" (makeSlice
				(makeSlice "filter_run_running"         "Running"           (.RunRunning.Else         true))
				(makeSlice "filter_run_succeeded"       "Succeeded"         (.RunSucceeded.Else       true))
				(makeSlice "filter_run_failed"          "Failed"            (.RunFailed.Else          true))
				(makeSlice "filter_run_canceled"        "Canceled"          (.RunCanceled.Else        true))
				(makeSlice "filter_invocation_invoking" "Invoking"          (.InvocationInvoking.Else true))
				(makeSlice "filter_invocation_failed"   "Invocation failed" (.InvocationFailed.Else   true))
			)
			"onblur" `
				const params = new URLSearchParams(location.search);
				for (const option of event.target.options) {
					if (option.value == 'all') continue;
					if (option.selected) {
						params.delete(option.value);
					} else {
						params.set(option.value, '');
					}
				}
				location.search = params;
			`
		)}}
	{{end}}

	{{define "statsAndFilterAndPagination"}}
		<nav style="
			display: flex;
			align-items: center;
			gap: 1em;
		">
			{{template "stats" .Stats}}

			<div style="
				flex-grow: 1;
			">
				{{with .Filter}}
					{{template "filter" .}}
				{{end}}
			</div>

			{{template "pagination" (makeMap "Page" .Page "Filter" .Filter)}}
		</nav>
	{{end}}

	<body>
		<nav>
			<ul>
				<li>
					<img src="/static/logo.svg" class="logo" alt="Cicero Logo"/>
				</li>
				<li><a href="/action/current?active">Actions</a></li>
				<li><a href="/run">Runs</a></li>
				<li>
					{{if .Session}}
						<a href="/login/oidc">Session</a>
					{{end}}
				</li>
				<li>
					{{with .Session}}
						<a
							href="/logout"
							title="{{.UserInfo.Email}}"
						>
							Log Out
						</a>
					{{else}}
						<a href="/login/oidc">Log In</a>
					{{end}}
				</li>
			</ul>
		</nav>
		<main>
			{{block "main" .}}{{end}}
		</main>
		<footer>
			<div class="build-info">
				{{with buildInfo}}
					{{.Version}} ({{.Commit}})
				{{end}}
			</div>
		</footer>
	</body>
</html>
