<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="/static/style.css"/>
		<title>Cicero</title>
		<style>
		html {
			display: flex;
		}
		html, body {
			min-width: 100%;
			min-height: 100%;
		}
		body {
			margin: 0;

			display: flex;
			flex-direction: column;
		}
		body > nav .logo {
			height: max(3rem, 5vh);
		}
		body > nav > ul {
			padding: 1rem 3rem;
			background: var(--accent);
			list-style: none;
			font-size: 1.5rem;

			display: flex;
			gap: 2em;
			align-items: center;
		}
		body > main {
			flex-grow: 1;
			padding: 1rem;
		}
		body > footer {
			padding: .5rem;
			background: var(--accent);

			display: flex;
		}
		body > footer > .build-info {
			flex-grow: 1;
			text-align: end;
			opacity: 75%;
		}
		</style>
	</head>

	{{define "pagination"}}
		<ul class="pagination">
			<li>
				{{if .PrevOffset}}
					<a href="?limit={{.Limit}}&offset={{.PrevOffset}}">«</a>
				{{else}}
					«
				{{end}}
			</li>
			<li aria-current="page">
				{{.Number}}
			</li>
			<li>/</li>
			<li>{{.Pages}}</li>
			<li>
				<span style="opacity: 50%">
					({{.Total}})
				</span>
			</li>
			<li>
				{{if .NextOffset}}
					<a href="?limit={{.Limit}}&offset={{.NextOffset}}">»</a>
				{{else}}
					»
				{{end}}
			</li>
		</ul>
	{{end}}

	{{define "fact"}}
		<details class="collapse">
			<summary>{{.ID}}</summary>
			<dl>
				<dt>Created At</dt>
				<dd>{{.CreatedAt}}</dd>

				<dt>Value</dt>
				<dd>
					<textarea
						readonly
						rows="10"
						cols="50"
					>{{toJson .Value true}}</textarea>
				</dd>

				{{if .BinaryHash}}
					<dt>Binary</dt>
					<dd>
						<a href="/api/fact/{{.ID}}/binary"><code>{{.BinaryHash}}</code></a>
					</dd>
				{{end}}
			</dl>
		</details>
	{{end}}

	{{define "facts"}}
		<ul style="list-style: none; padding: 0; margin: 0">
			{{range .}}
				<li>{{template "fact" .}}</li>
			{{end}}
		</ul>
	{{end}}

	{{define "log"}}
		<table
			class="panel log"
			style="display: none"
		>
			<tbody></tbody>
		</table>

		<em>No log found.</em>

		<script>
		(() => {
			const noLogFound = document.scripts[document.scripts.length - 1].previousElementSibling;
			const table = noLogFound.previousElementSibling;
			const tbody = table.querySelector('tbody');

			function renderLine(tr, line) {
				const td1 = document.createElement('td');
				if (line.time != null) {
					const s2 = '2-digit';
					const p =
						new Intl.DateTimeFormat('in', { year: 'numeric', month: s2, day: s2, hour: s2, minute: s2, second: s2, hour12: false }).
						formatToParts(new Date(line.time)).
						map(p => p.value);

					td1.innerText = `${p[4]}-${p[2]}-${p[0]} ${p[6]}:${p[8]}:${p[10]}`;
				} else {
					td1.innerText = line.labels.source;
				}

				const samp = document.createElement('samp');
				samp.innerText = line.text;

				const td2 = document.createElement('td');
				td2.appendChild(samp);

				tr.appendChild(td1);
				tr.appendChild(td2);
				tr.classList.add(line.labels.source);
			}

			document.addEventListener('DOMContentLoaded', async () => {
				const response = await fetch({{.}})
				const reader = response.body.getReader();
				let buf = [];
				let snipLineAdded = false;
				while (true) {
					const {done, value} = await reader.read();

					if (done) {
						break;
					}

					buf.push(...value);

					let valueStartIdx = 0;
					for (let i = 0; i < value.length; i++) {
						if (value[i] != '\n'.charCodeAt()) continue;

						const lineEndIdx = buf.length - value.length + i;
						const lineStr = String.fromCharCode(...buf.slice(0, lineEndIdx));
						let line;
						try {
							line = JSON.parse(lineStr);
						} catch {
							line = {error: lineStr};
						}
						buf = buf.slice(lineEndIdx + 1);

						if (line.error != null) {
							line.text = line.error;
							delete line.error;
							line.labels = {source: 'error'};
						}

						table.style.display = null;
						noLogFound.style.display = 'none';

						renderLine(tbody.insertRow(), line);
					}

					const maxLines = 5000;
					const snipLineRowIdx = maxLines / 2;
					while (tbody.childElementCount > maxLines) {
						if (!snipLineAdded) {
							renderLine(tbody.insertRow(snipLineRowIdx), {
								text: '… omitted … (view raw instead)',
								labels: {source: 'info'},
							});
							snipLineAdded = true;

							// remove one more line because the snip line also counts
							tbody.querySelector('tr:nth-child(' + snipLineRowIdx + ')').remove()
						}

						tbody.querySelector('tr:nth-child(' + (snipLineRowIdx + 1) + ')').remove()
					}
				}
			});
		})()
		</script>
	{{end}}

	<body>
		<nav>
			<ul>
				<li>
					<img src="/static/logo.svg" class="logo" alt="Cicero Logo"/>
				</li>
				<li><a href="/action/current?active">Actions</a></li>
				<li><a href="/run">Runs</a></li>
			</ul>
		</nav>
		<main>
			{{block "main" .}}{{end}}
		</main>
		<footer>
			<div class="build-info">
				{{with buildInfo}}
					{{.Version}} ({{.Commit}})
				{{end}}
			</div>
		</footer>
	</body>
</html>
